*{
    padding: 0px;
    margin: 0px;
    outline: none;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    width: 400px;
    padding: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .3);
    box-sizing: border-box; 
}
.input-container,
.select-container {
    position: relative;
    margin-top: 15px;
}
.input-container input[type="text"] ,
.input-container input[type="tel"] ,
.input-container input[type="email"] , /*только для type -text будет применено это свойство*/
.select-container select{
    display: block;
    width: 100%;
    padding: 8px 7px 5px 7px;
    box-sizing: border-box;
    border-radius: 5px;
    border: orange solid 1px;
    font-size: 18px;
    line-height: 22px;
}
.input-container input:focus{ /* когда наводишь на цвет цвет становится оранжевым, а если уводишь - чёрным*/
    color: orange;
}

.input-container label{
    position: absolute;
    top: -10px;
    left: 20px;
    background: white;
    padding: 0px 3px;
}

.select-container select{
    appearance: none; /*убирание галочки */
    -webkit-appearance: none;
}

.checkbox-list{
    margin-top: 15px;
}
.checkbox-container input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
}
.checkbox-container {
    position: relative;
    margin-top: 10px;
}
.checkbox-container label{
    padding-left: 45px;
}
.checkbox-container label::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 40px;
    height: 20px;
    border: 1px solid orange;
    border-radius: 20px;
    box-sizing: border-box; /*внутренние размеры учитываются в ширину*/
}
.checkbox-container label::before{
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: chocolate;
    border-radius: 50%;
    top: 0px; /*перемещаем кружочек в область овальную*/
    left: 0px;
    transition: all .3s;
    z-index: 1;
}
.checkbox-container input:checked+label::before{
    left: 20px;
    border: 1px solid white;
    box-sizing: border-box;
    transition: all .3s;
}
.checkbox-container input:checked+label::after{
    background: orange;
    transition: all .3s;
    transition-delay: .3s;/*замедляет движение*/
}
.radio-list{
    margin-top: 15px;
    display: flex;
}
.radio-container{
    margin-right: 20px;
}
.radio-container input[type="radio"]{ /*делаем привязку к атрибуту*/
    appearance: none;/*убирает точку*/
    -webkit-appearance: none;
}
label{
    cursor: pointer;
}

.radio-container input:checked+label.icon-telegram svg path{
    fill:#0088cc;
}
.radio-container input:checked+label.icon-wp svg path{
    fill: green;
}
.radio-container input:checked+label.icon-call svg path{
    fill:purple;
}
.radio-container label:hover svg path{
    fill: orange;
}

#checkbox_5:checked ~ .checkbox-subContainer{ /*сделали выплывающее окно при наведении кнопки на дополнительные параметры */
    opacity: 1;
    height: 120px;
    transition: all .3s;
}

.checkbox-subContainer{
    margin-top: 10px;
    opacity: 0;
    height: 0px;
}
.checkbox-subContainer textarea{
cursor: default;
resize: none;/*отменяет желание контейнера расширяться*/
border: 1px solid orange;
border-radius: 5px;
width: 100%;
padding: 5px;
box-sizing: border-box;/*текст отодвигается откраев*/
font-size: 18px;
line-height: 22px;
height: 100%;
}
.checkbox-subContainer textarea:focus{
    color: orange;
}









/*.checkbox-container label{
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    line-height: 22px;
}

.checkbox-container label::after, .checkbox-container label::before{
    content:''; обязательное свойство, без него не будет работать
    position: absolute;
    display: block;
    border-radius: 5px;
}
.checkbox-container label::after{
    width: 22px;
    height: 22px;
    background: orange;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.checkbox-container label::before{
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    background: olive;
    z-index: 2;
    opacity: 0; прозразность элемента
    transition: all .3s;

}

.checkbox-container{
    margin-top: 7px;
}
.checkbox-container input[type="checkbox"]:checked + label::before{
    opacity: 1;
    transition: all .3s;
}/*




